<div class="container">

   <%= render 'shared/spinning' %>

  <div class="text-center mb-5">
    <% @goal.each do |goal| %>
      <h2>Goal: <%= goal.title %> - <strong><%= goal.total_points %> pts</strong></h2>
      <p><em><%= goal.end_date %></em></p>
    <% end %>
  </div>

  <div id="position-absolute-plant">
    <%= image_tag("plant-right.svg") %>
  </div>
  <div id="position-absolute-standing">
    <%= image_tag("standing1.svg") %>
  </div>

  <nav>
    <div id="nav-menu" class="nav justify-content-around" id="nav-tab" role="tablist">
      <a class="nav-item nav-link tab-menu" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Suggestions</a>
      <a class="nav-item nav-link tab-menu active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tasks</a>
    </div>
    <div class="line-grey">
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <!-- TASKS SUGGESTION-->
      <div class="row my-5 d-flex justify-content-center">
        <h3>Suggestions list</h3>
      </div>
      <div class="container-suggestion">
        <div class="container">
          <div class="d-flex align-items-center flex-column">
            <% @tasks.each do |task| %>
            <div class="card-task-suggested">
              <div class="img-icon">
                <%= image_tag task.photo %>
              </div>
              <div class="card-task-infos">
                <h2><%= task.name %></h2>
                <p><%= task.description %></p>
              </div>
              <div class="chevron ml-auto mr-4">
                <%= image_tag "chevron.svg" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <!-- CARDS ACCOMPLISHED / TODO -->
      <div class="container">
        <div class="row my-5 d-flex justify-content-center">
          <div class="col-sm-4">
            <div class="card-info-show my-3 justify-content-center">
              <div class="card-info-home-text text-center">
                <h4 class="font-weight-bold">Accomplished</h4>
                  <p><strong><%= @count_achievement_done_true.count %></strong></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card-info-show my-3 justify-content-center">
              <div class="card-info-home-text text-center">
                <h4 class="font-weight-bold">To Do</h4>
                <p><strong><%= @count_achievement_done_false.count %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- KID TASKS TO DO -->
    <div class="container">
      <div class="row my-5 d-flex justify-content-center">
        <div class="card-achievement-todo d-flex align-items-start flex-column bd-highlight mb-3 justify-content-between">
          <div class="achievements-todo-title mb-auto p-2 bd-highlight">
            <h3>Tasks</h3>
          </div>
          <div class="achivement-done bd-highlight justify-content-between">
            <p>Add a new task</p>

          <!-- BUTTON TRIGGER MODAL -->
          <div class="link-todo-btn">
            <%= link_to new_kid_achievement_path, "data-toggle" => "modal", "data-target" => "#exampleModal" do %>
              <%= image_tag "plus_btn.svg" %>
            <% end %>
          </div>
        </div>

          <% @achievements.each do |achievement| %>
            <% unless achievement.done %>
              <div class="achivement-done bd-highlight justify-content-between">
                <div class="achievement-checkbox d-inline-flex">
                  <label class="container-checkbox"><%= achievement.task.description.capitalize %>
                    <input class='achievement-id' type="checkbox" name="done" value= '<%= achievement.done %>' data-achievement-id=<%= achievement.id %> <%= 'checked' if achievement.done %>>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="link-todo">
                  <%= link_to achievement.due_at, edit_kid_achievement_path ,class: "btn-square-turquoise" %>
                </div>
              </div>
              <% end %>
          <% end %>

          <% @achievements.each do |achievement| %>
            <% if achievement.done && !achievement.achieve %>
              <div class="achivement-done bd-highlight justify-content-between">
                <div class="achievement-checkbox d-inline-flex">
                  <label class="container-checkbox"><%= achievement.task.description.capitalize %>
                    <input class='achievement-id' type="checkbox" name="done" value= '<%= achievement.done %>' data-achievement-id=<%= achievement.id %> <%= 'checked' if achievement.done %>>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="link-todo">
                  <%= link_to achievement.due_at, edit_kid_achievement_path ,class: "btn-square-turquoise" %>
                </div>
              </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>



  <!-- MODAL NEW ACHIEVEMENT -->


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle"> Create an achievement </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>


            <div class="modal-body">
              <%= simple_form_for @achievement, url: kid_achievements_path, method: :post do |f| %>
                <%= f.association :task, collection: @tasks, label_method: :name_of_method, value_method: :id %>
                <div class="find-task d-flex mt-1">
                  <p><em>You didn't find a task? <%= link_to "Create a new task", new_kid_task_path %> </em></p>
                </div>
                <%= f.input :points, :input_html => { :type => "number" } %>
                <%= f.input :due_at %>
                <div class="d-flex justify-content-center mt-5 mb-3">
                  <%= f.submit "Create", class: "btn-tangerine" %>
                </div>
                <div class="find-task d-flex justify-content-center mt-4">
                </div>
              <% end %>
            </div>

        </div>
      </div>
    </div>
  </div>

