<div class="container">

  <% if current_user.total_score < 100 %>
    <div class="d-flex justify-content-center" id="position-absolute-greyshape">
      <%= image_tag("BackgroundGreyShape.svg") %>
    </div>


    <div class="d-flex align-items-center my-5">
      <!-- GOAL -->
      <!-- SPINNER -->
      <div id="container" style="max-width:300px;"></div>
      <!-- END SPINNER -->
      <div>
        <% @goals.each do |goal| %>
          <h2 class="text-capitalize"><%= goal.title %></h2>
          <h3><strong><%= goal.total_points %> pts</strong></h3>
          <p><em><%= goal.end_date.strftime('%a %m %B %y') %></em></p>
        <% end %>
      </div>
      <!-- END GOAL -->
    </div>
  <% else %>
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="card-goal-succed my-5 text-center d-flex justify-content-center align-items-center flex-column">
         <% @goals.each do |goal| %>
          <h2 class="text-capitalize" style="color: #2B2842"><%= goal.title %></h2>
          <div class="card-goal-succed-img">
            <%= image_tag "goalsuccess.svg" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
  <% end %>

  <!-- ONGLETS SUGGESTIONS / TASKS -->
  <nav>
    <div id="nav-menu" class="nav justify-content-around mt-5" id="nav-tab" role="tablist">
      <a class="nav-item nav-link tab-menu" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Suggestions</a>
      <a class="nav-item nav-link tab-menu active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tasks</a>
    </div>
    <div class="line-grey">
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <!-- ONGLET SUGGESTIONS -->
    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <!-- IMAGE BACKGROUND -->
      <div id="position-absolute-standing-8">
        <%= image_tag("standing8.svg") %>
      </div>
      <div id="position-absolute-sitting">
        <%= image_tag("sitting1.svg") %>
      </div>
      <!-- END IMAGE BACKGROUND -->

      <!-- CARDS ACCOMPLISHED / TODO -->
      <div class="container">
        <div class="row my-5 d-flex justify-content-center">
          <div class="col-sm-4">
            <div class="card-info-show my-3 justify-content-center">
              <div class="card-info-home-text text-center">
                <h4 class="font-weight-bold">Accomplished</h4>
                  <p><strong><%= current_user.achieved_achievements.count %></strong></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card-info-show my-3 justify-content-center">
              <div class="card-info-home-text text-center">
                <h4 class="font-weight-bold">To Do</h4>
                <p><strong><%= current_user.no_done_achievements.count %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARDS ACCOMPLISHED / TODO -->

      <!-- LIST OF TASKS-->
      <div class="container-suggestion">
        <div class="container">
          <div class="d-flex align-items-center flex-column">
            <% @tasks.each do |task| %>
              <button class="btn-modal task-id" data-task-id=<%= task.id %>>
                <div class="card-task-suggested">
                  <div class="img-icon">
                    <% if task.photo.attachment.nil? %>
                      <%= image_tag 'housekeeping.png' %>
                    <% else %>
                      <%= image_tag task.photo %>
                    <% end %>
                  </div>
                  <div class="card-task-infos">
                    <h2><%= task.name %></h2>
                    <p><%= task.description %></p>
                  </div>
                  <div class="chevron ml-auto mr-4">
                    <%= image_tag "chevron.svg" %>
                  </div>
                </div>
              </button>
            <% end %>
            <div class="container">
              <div class="overlay" id="overlay"></div>
                <div class="modal-new-achievement-with-task-id" id="modal-task">
                  <button class="modal-close-btn" id="close-btn">
                    x
                  </button>
                  <h3>New achievement</h3>
                  <%= simple_form_for @achievement, url: kid_achievements_path, html: { method: :post, id: :new_achievement_3 } do |f| %>
                    <%= f.association :task, input_html: { id: 'achievement_task_id_3' }, label: false  %>
                    <%= f.input :points, as: :integer, input_html: { id: 'achievement_points_id_3' }, label: false, placeholder: "Points" %>
                    <%= f.input :due_at, as: :string, type: :text, input_html: { id: 'achievement_due_at_id_3' } %>
                    <div class="d-flex justify-content-center mt-5 mb-3">
                      <%= f.submit "Create", class: "btn-tangerine" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END LIST OF TASKS -->
    <!-- END ONGLET SUGGESTIONS -->

    <!-- ONGLET TASKS -->
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <!-- IMAGES BACKGROUND -->
      <div id="position-absolute-plant">
        <%= image_tag("plant-right.svg") %>
      </div>
      <div id="position-absolute-standing">
        <%= image_tag("standing1.svg") %>
      </div>
      <!-- END IMAGES BACKGROUND -->

      <!-- CARDS ACCOMPLISHED / TODO -->
      <div class="container">
        <div class="row my-5 d-flex justify-content-center">
          <div class="col-sm-4">
            <div class="card-info-show my-3 justify-content-center">
              <div class="card-info-home-text text-center">
                <h4 class="font-weight-bold">Accomplished</h4>
                  <p><strong><%= current_user.achieved_achievements.count %></strong></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card-info-show my-3 justify-content-center">
              <div class="card-info-home-text text-center">
                <h4 class="font-weight-bold">To Do</h4>
                <p><strong><%= current_user.no_done_achievements.count %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARDS ACCOMPLISHED / TODO -->

    <!-- KID TASKS TO DO -->
    <div class="container">
      <div class="row my-5 d-flex justify-content-center">
        <div class="card-achievement-todo d-flex align-items-start flex-column bd-highlight mb-3 justify-content-between">
          <div class="achievements-todo-title mb-auto p-2 bd-highlight">
            <h3>Tasks</h3>
          </div>
          <div class="achivement-done bd-highlight justify-content-between">
            <p>Add a new task</p>

          <!-- Button Modal New Achievement -->
          <div class="link-todo-btn">
            <%= link_to new_kid_achievement_path, "data-toggle" => "modal", "data-target" => "#exampleModal" do %>
              <%= image_tag "plus_btn.svg" %>
            <% end %>
          </div>
          <!-- End Button Modal New Achievement -->
        </div>

          <!-- LIST OF ACHIEVEMENTS -->
          <% j = 0 %>
          <% @achievements.each do |achievement| %>
            <% j += 1 %>
            <% unless achievement.done %>
              <div class="achivement-done bd-highlight justify-content-between">
                <div class="achievement-checkbox d-inline-flex">
                  <label class="container-checkbox"><%= achievement.task.description.capitalize %>
                    <input class='achievement-id' type="checkbox" data-target="#exampleModalCenter_<%= j %>" data-toggle='modal' value='<%= achievement.done %>' data-achievement-id=<%= achievement.id %> <%= 'checked' if achievement.done %>>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="date-todo-kid">
                  <p><%= achievement.due_at.strftime(' %A %m %b %Y') %></p>
                </div>
              </div>
              <!--  MODAL DONE 1 -->
              <div class="modal fade" id="exampleModalCenter_<%= j %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= achievement.task.name %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for achievement, url: kid_achievement_path(achievement), method: :patch do |f| %>
                      <div class = "modal-design pdr-3">
                        <%= f.input :done, as: :radio_buttons %>
                      </div>
                      <div class = "text-center">
                        <%= f.submit "Yes ! ", class:'btn-tangerine mb-3' %>
                         </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END MODAL DONE 1 -->
              <% end %>
          <% end %>

          <% m = 0 %>
          <% @achievements.each do |achievement| %>
            <% m += 1 %>
            <% if achievement.done && !achievement.achieve %>
              <div class="achivement-done bd-highlight justify-content-between">
                <div class="achievement-checkbox d-inline-flex">
                  <label class="container-checkbox"><%= achievement.task.description.capitalize %>
                    <input class='achievement-id' type="checkbox" data-target="#exampleModalCenter_<%= m %>" data-toggle='modal' value='<%= achievement.done %>' data-achievement-id=<%= achievement.id %> <%= 'checked' if achievement.done %>>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="date-todo-kid">
                  <p><%= achievement.due_at %></p>
                </div>
              </div>
              <!--  MODAL DONE 2 -->
              <div class="modal fade" id="exampleModalCenter_<%= m %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= achievement.task.name %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for achievement, url: kid_achievement_path(achievement), method: :patch do |f| %>
                      <div class = "modal-design pdr-3">
                        <%= f.input :done, as: :radio_buttons %>
                      </div>
                      <div class = "text-center">
                        <%= f.submit "Yes ! ", class:'btn-tangerine mb-3' %>
                         </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END MODAL DONE 2 -->
              <% end %>
          <% end %>
          <!-- END LIST OF ACHIEVEMENTS -->
        </div>
      </div>
    </div>




  <!-- Modal New Achievement -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle"> Create an achievement </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <%= render 'kid/achievements/form', achievement: @achievement, tasks: @tasks, selected: :last %>
            <div class="collapse" id="collapseExample">
              <div class="card card-body d-flex justify-content-center">
                <h4 class="mb-4">Create a new task</h4>
                <%= simple_form_for [:kid, @task], remote: true do |f| %>
                  <%= f.input :name %>
                  <%= f.input :description %>
                  <%= f.association :category %>
                  <div class="d-flex justify-content-center mt-4">
                    <%= f.submit "Add", class:'btn-tangerine', id:'add-task-kid' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal New Achievement -->
    </div>
  </div>
  <!-- END TASKS TO DO -->
  <!-- END ONGLETS SUGGESTIONS / TASKS -->
</div>
