<h1>Child dashboard</h1>
<hr>
<% @goal.each do |goal| %>
  <h2>Goal: <%= goal.title %></h2>
  <p><em><%= goal.end_date %></em></p>
  <strong><%= goal.total_points %> pts</strong>
  <% if goal.done == false %>
    <p>Goal is not achieve yet... :(</p>
  <% else %>
    <p>Goal achieved !!! :)</p>
  <% end %>
<% end %>
<%= link_to "Create an achievement", "#" %>
<br>


<%-# Achievement -%>

<h2>All achievements</h2>
<ul>
<% @achievements.each do |achievement| %>
  <h3><%= achievement.task.name %></h3>
  <p><strong><%= achievement.due_at %></strong> - <%= achievement.done %></p>
  <input type="checkbox" name="done" value='<%= achievement.done %>' <%= 'checked' if achievement.done %>> Done?
<% end %>
</ul>
<br>


<%-# Toutes les taches -%>

<h2>All tasks</h2>
<ul>
<% @tasks.each do |task| %>
  <h3><%= task.category.name %></h3>
  <p><strong><%= task.name %></strong> - <%= task.description %></p>
<% end %>
</ul>
<%= link_to "Create a task", new_child_achievement_task_path(@achievement) %>
