<div class="banner">
  <div class="banner-text">
    <h1 class="mb-0 font-weight-bold" style="letter-spacing: 0.2em; color: $black-purple"><span style="color: #E3CDC2;">O</span>CHILD</h1>
    <p class="display-4">Make your children proud.</p>
    <div style="width: 200px;">
      <%= link_to 'Sign up', new_user_registration_path, class: "btn-sand" %>
    </div>
  </div>
</div>

<div id="position-absolute">
  <%= image_tag("connection.svg") %>
</div>

<div class="container">
  <h1 class="text-center my-5">How it works ?</h1>
  <div class="row my-5">
    <div class="col-lg-4 d-flex justify-content-center">
      <div class="card-info-home my-3">
        <div class="card-info-home-picture">
          <%= image_tag("connection.svg") %>
        </div>
        <div class="card-info-home-text text-center">
          <h4 class="mb-3 font-weight-bold">Communication</h4>
          <p>The key point of Ochild is to create a peaceful space in your family.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex justify-content-center">
      <div class="card-info-home my-3">
        <div class="card-info-home-picture">
          <%= image_tag("following.svg") %>
        </div>
        <div class="card-info-home-text text-center">
          <h4 class="mb-3 font-weight-bold">Parenting</h4>
          <p>Ochild is a mediator between parents and children, to provide a unique parenting experience.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex justify-content-center">
      <div class="card-info-home my-3">
        <div class="card-info-home-picture">
          <%= image_tag("gift.svg") %>
        </div>
        <div class="card-info-home-text text-center">
          <h4 class="mb-3 font-weight-bold">Reward</h4>
          <p>Based on exchange, the application rewards accomplished deeds, and gives children proper incentive.</p>
        </div>
      </div>
    </div>
  </div>
</div>
