<div class="banner">
  <div class="banner-text">
    <h1 class="font-weight-bold">Ochild</h1>
    <p class="display-4">Use our app for life.</p>
    <div>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn-plain-sand" %>
    </div>
  </div>
</div>

<div id="position-absolute">
  <%= image_tag("connection.svg") %>
</div>

<div class="container">
  <h1 class="text-center my-5">How it works ?</h1>
  <div class="row my-5">
    <div class="col-lg-4">
      <div class="card-info-home my-3">
        <div class="card-info-home-picture">
          <%= image_tag("connection.svg") %>
        </div>
        <div class="card-info-home-text text-center">
          <h4 class="mb-3 font-weight-bold">Communication</h4>
          <p>The key point of Ochild it's to create a peaceful space in your family.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-info-home my-3">
        <div class="card-info-home-picture">
          <%= image_tag("following.svg") %>
        </div>
        <div class="card-info-home-text text-center">
          <h4 class="mb-3 font-weight-bold">Education</h4>
          <p>Ochild is a mediator between parent and their children, and help them to give a good education.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-info-home my-3">
        <div class="card-info-home-picture">
          <%= image_tag("gift.svg") %>
        </div>
        <div class="card-info-home-text text-center">
          <h4 class="mb-3 font-weight-bold">Reward</h4>
          <p>Based on exchange, the application rewards good deeds. And encourage the child on this path.</p>
        </div>
      </div>
    </div>
  </div>
</div>
