
<div class="container">
  <h1 class= "modal-design" >MARK ACHIEVEMENT AS ACHIEVE</h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mt-5">
      <h3 class= "modal-design"><%= @achievement.task.name %></h3>
      <h2 class="modal-design"><%= @achievement.points %></h2>
      <%= simple_form_for @achievement, url: adult_achievement_path, method: :patch, defaults: { input_html: { class: 'modal-design' } } do |f| %>
        <p class = "text-center">Are you satisfied with this ?</p>

          <%= f.input :points, placeholder: "100", label: false  %>

        <h3><%= f.input :achieve, as: :radio_buttons %></h3>

        <div class = "text-center">
          <%= f.submit "Click Me", class:'btn-plain-tangerine' %>
        </div>
        <% end %>
    </div>
  </div>
</div>
