<button type="button" class="btn-tangerine" data-toggle="modal" data-target="#exampleModal">
  Update Achievement
</button>

<br>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle"><%= @achievement.task.name %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <h2 class="modal-design"><%= @achievement.points %></h2>
          <%= simple_form_for @achievement, url: adult_achievement_path, method: :patch do |f| %>
          <p class = "text-center mt-3">Are you satisfied with this ?</p>
          <%#= f.input :points, label: false  %>
          <div class="qty mt-5">
            <span class="minus bg-dark" id= "minus">-</span>
            <input type="number" class="count" name=achievement[points] id='points' value=<%= @achievement.points %>>
            <span class="plus bg-dark" id= "plus">+</span>
          </div>
          <%= f.input :achieve , as: :hidden, input_html: { value: true } %>
          <div class="d-flex justify-content-center mb-3">
            <%= f.submit "Validate", class: "btn-tangerine mt-3" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
