<h1><%= @goal.title.upcase %> - <%= @goal.total_points %>pts</h1>

<% @goal.proportions.each do |proportion| %>
  <p> <strong><%= proportion.category.name %></strong>: <%= proportion.percent %>%</p>
<% end %>

<br>

<h3>_PENDING ACHIEVEMENTS</h3>

<% @achievements.each do |achievement| %>
  <p><strong><%= achievement.task.name %></strong>: <%= achievement.task.description %></p>
  <%= link_to 'pending', edit_adult_achievement_path(achievement) ,class: "btn btn-primary" %>
<% end %>

<br>

<h3>_SUGGESTIONS</h3>

<% @tasks.each do |task| %>
  <p><strong><%= task.name %></strong>: <%= task.description %></p>
<% end %>
<%= link_to "Create a task", new_adult_task_path, class: "btn btn-primary" %>
