<div class="container d-flex justify-content-center">


  <div class="container">
    <h1><%= @goal.title.upcase %> - <%= @goal.total_points %>pts</h1>

    <% @goal.proportions.each do |proportion| %>
      <p> <strong><%= proportion.category.name %></strong>: <%= proportion.percent %>%</p>
    <% end %>

    <br>
    <hr>
    <h3>_PENDING ACHIEVEMENTS</h3>

    <% @achievements.each do |achievement| %>
      <p><strong><%= achievement.task.name %></strong>: <%= achievement.task.description %></p>
      <%= link_to 'pending', edit_adult_achievement_path(achievement) ,class: "btn btn-primary" %>
    <% end %>

    <br>
    <br>
    <%= link_to 'new achievement', new_adult_achievement_path ,class: "btn btn-primary" %>
    <br>
    <hr>
  </div>

  <div class="container">

  <h3>_SUGGESTIONS</h3>

    <div class="d-flex justify-content-center flex-column">
      <% @tasks.each do |task| %>
        <div class="card-task-suggested">
          <div class="img-icon">
            <%= image_tag task.photo %>
          </div>
          <div class="card-task-infos">
            <h2><%= task.name %></h2>
            <p><%= task.description %></p>
          </div>
        </div>
      <% end %>
    </div>

  </div>








    <%= link_to "Create a task", new_adult_task_path, class:'btn btn-primary' %>




  <div class="container">
    <hr>
    <h3>_PROGRESSION OF MY CHILD</h3>
    <hr>
    <p>Total points = <strong><%= @goal.total_points %> pts</strong></p>
    <% @achievements.each do |achievement| %>
      <p>Total achievement points = <strong><%= achievement.points %> pts</strong></p>
      <p>Progression of my child = <strong><%= @pourcent_goal_achieve %> %</strong></p>
    <% end %>
  </div>
</div>



