<div class="container d-flex justify-content-center flex-column">

  <div class="container">
    <h1><%= @goal.title.upcase %> - <%= @goal.total_points %>pts</h1>

    <% @goal.proportions.each do |proportion| %>
      <p> <strong><%= proportion.category.name %></strong>: <%= proportion.percent %>%</p>
    <% end %>
  </div>

<br>

  <!-- Button trigger modal -->
  <div class="create-achievement">
      <%= link_to 'Create an achievement', new_adult_achievement_path, class: "btn btn-lg btn-primary", "data-toggle" => "modal", "data-target" => "#exampleModal" %>
  </div>

<br>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle"> Assign a new achievement </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
          <%= simple_form_for @achievement, url: adult_achievements_path, method: :post do |f| %>
            <%= f.association :task, collection: @tasks, label_method: :name_of_method, value_method: :id %>
            <div class="find-task d-flex mt-1">
              <p><em>You didn't find a task? <%= link_to "Create a new task", new_adult_task_path %> </em></p>
            </div>
            <%= f.input :points, as: :integer %>
            <%= f.input :due_at, as: :date %>
            <div class="d-flex justify-content-center mt-5 mb-3">
              <%= f.submit "Create", class: "btn-tangerine" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- List of achievements -->
  <div class="container">
    <div class="card-achievement-pending d-flex align-items-start flex-column bd-highlight mb-3 justify-content-center">
      <div class="achievements-pending-title mb-auto p-2 bd-highlight">
        <h3>Tasks</h3>
      </div>
      <% @achievements.each do |achievement| %>
        <div class="achivement-done bd-highlight justify-content-between">
          <div class="achievement-checkbox d-inline-flex">
            <label class="container-checkbox"><%= achievement.task.description.capitalize %>
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="link-pending">
            <%= link_to 'PENDING', edit_adult_achievement_path(achievement) ,class: "btn-square-sand" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="container">
      <div class="row my-5 d-flex justify-content-center">
        <h3>_SUGGESTIONS</h3>
      </div>
      <div class="d-flex align-items-center flex-column">
        <% @tasks.each do |task| %>
        <div class="card-task-suggested">
          <div class="img-icon">
            <%= image_tag task.photo %>
          </div>
          <div class="card-task-infos">
            <h2><%= task.name %></h2>
            <p><%= task.description %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <hr>
    <h3>_PROGRESSION OF MY CHILD</h3>
    <hr>
    <p>Total points = <strong><%= @goal.total_points %> pts</strong></p>
    <% @achievements.each do |achievement| %>
      <p>Total achievement points = <strong><%= achievement.points %> pts</strong></p>
      <p>Progression of my child = <strong><%= @pourcent_goal_achieve %> %</strong></p>
    <% end %>
  </div>

</div>
