<h1><%= @goal.title %> - <%= @goal.total_points %>pts</h1>

<% @goal.proportions.each do |proportion| %>
  <p> <strong><%= proportion.category.name %></strong>: <%= proportion.percent %>%</p>

<% end %>

<h3><em>Suggestions</em></h3>

<% @tasks.each do |task| %>
  <p><strong><%= task.name %></strong>: <%= task.description %></p>
<% end %>
