<div class="container d-flex justify-content-center flex-column">

  <div class="text-center mb-5">
    <h1><%= @goal.title.upcase %> - <%= @goal.total_points %>pts</h1>

    <% @goal.proportions.each do |proportion| %>
      <p> <strong><%= proportion.category.name %></strong>: <%= proportion.percent %>%</p>
    <% end %>
  </div>

  <div class="text-center mb-5">
    <hr>
    <h3>PROGRESSION OF MY CHILD</h3>
    <hr>
    <p>Total points = <strong><%= @goal.total_points %> pts</strong></p>
    <% @achievements.each do |achievement| %>
      <p>Total achievement points = <strong><%= achievement.points %> pts</strong></p>
      <p>Progression of my child = <strong><%= @pourcent_goal_achieve %> %</strong></p>
    <% end %>
  </div>

  <!-- ONGLETS SUGGESTIONS / TASKS -->
  <nav>
    <div id="nav-menu" class="nav justify-content-around" id="nav-tab" role="tablist">
      <a class="nav-item nav-link tab-menu" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Suggestions</a>
      <a class="nav-item nav-link tab-menu active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tasks</a>
    </div>
    <div class="line-grey">
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <!-- ONGLET SUGGESTIONS -->
    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <!-- IMAGE BACKGROUND -->
      <div id="position-absolute-standing-8">
        <%= image_tag("standing8.svg") %>
      </div>
      <!-- END IMAGE BACKGROUND -->

      <!-- CARDS ACCOMPLISHED / TODO -->
<!--       <div class="container">
        <div class="row my-4 d-flex justify-content-center">
          <div class="col-sm-4">
            <div class="card-info-show my-3 justify-content-center">
              <div class="card-info-home-text text-center">
                <h4 class="font-weight-bold">Accomplished</h4>
                <p><strong><%#= @count_achievement_accomplished.count %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- END CARDS ACCOMPLISHED / TODO -->

      <!-- LIST OF TASKS -->
      <div class="container-suggestion">
        <div class="row my-3 d-flex justify-content-center">
        </div>
        <div class="d-flex align-items-center flex-column">

          <% @tasks.each do |task| %>
            <%#= link_to new_adult_achievement_path do %>
            <button class="btn-modal task-id" data-task-id=<%= task.id %>>
              <div class="card-task-suggested">
                <div class="img-icon">
                  <%= image_tag task.photo %>
                </div>
                <div class="card-task-infos">
                  <h2><%= task.name %></h2>
                  <p><%= task.description %></p>
                </div>
                <div class="chevron ml-auto mr-4">
                  <%= image_tag "chevron.svg" %>
                </div>
              </div>
            </button>
              <%# end %>
          <% end %>
          <div class="container">
            <div class="overlay" id="overlay">
            </div>
            <div class="modal-new-achievement-with-task-id" id="modal-task">
              <button class="modal-close-btn" id="close-btn">
                x
              </button>
              <h3>New achievement</h3>
              <%= simple_form_for @achievement_new, url: adult_achievements_path, html: { method: :post, id: :new_achievement_2 } do |f| %>
                <%= f.association :task, input_html: { id: 'achievement_task_id_2' }, label: false  %>
                <%= f.input :points, as: :integer, input_html: { id: 'achievement_points_id_2' }, label: false, placeholder: "Points" %>
                <%= f.input :due_at, as: :date, input_html: { id: 'achievement_due_at_id_2' } %>
                <div class="d-flex justify-content-center mt-5 mb-3">
                  <%= f.submit "Create", class: "btn-tangerine" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- END LIST OF TASKS -->
      </div>
    <!-- END ONGLET SUGGESTIONS -->
  </div>

  <!-- ONGLET SUGGESTION -->
  <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    <!-- IMAGES BACKGROUND -->
    <div id="position-absolute-plant">
      <%= image_tag("plant-right.svg") %>
    </div>
    <div id="position-absolute-standing">
      <%= image_tag("plant-left.svg") %>
    </div>
    <!-- END IMAGES BACKGROUND -->

    <!-- CARDS ACCOMPLISHED / TODO -->
    <div class="container">
      <div class="row my-5 d-flex justify-content-center">
        <div class="col-sm-4">
          <div class="card-info-show my-3 justify-content-center">
            <div class="card-info-home-text text-center">
              <h4 class="font-weight-bold">Accomplished</h4>
              <p><strong><%= @count_achievement_accomplished.count %></strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-info-show my-3 justify-content-center">
            <div class="card-info-home-text text-center">
              <h4 class="font-weight-bold">Assign a new task</h4>

                <!-- Button trigger modal -->
                <div class="link-todo-btn-adult">
                    <%= link_to adult_achievement_path, "data-toggle" => "modal", "data-target" => "#exampleModalNew" do %>
                    <%= image_tag "plus_btn.svg" %>
                    <% end %>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END CARDS ACCOMPLISHED / TODO -->

    <!-- ADULT TASKS TO DO -->
    <div class="container">
      <div class="row my-5 d-flex justify-content-center">
        <div class="card-achievement-pending d-flex align-items-start flex-column bd-highlight mb-3 justify-content-center">
          <div class="achievements-pending-title mb-auto p-2 bd-highlight">
            <h3>Tasks</h3>
          </div>
          <div class="achivement-done bd-highlight justify-content-end">
              <p>PENDING: <%= @count_new_achievement.count %> </p>
          </div>

          <!-- LIST OF ACHIEVEMENTS -->
          <% @achievements.each do |achievement| %>
            <div class="achivement-done bd-highlight justify-content-between">
              <div class="achievement-checkbox d-inline-flex">
                <label class="container-checkbox"><%= achievement.task.description.capitalize %>
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
              <!-- Button Modal Update Achievement -->
              <div class="link-pending">
                <button type="button" class="btn-square-sand btn-modal-update-adult achievement-update-id" data-achievement-update-id=<%= achievement.id %>>
<!--                 <button type="button" class="btn-square-sand" data-toggle="modal" data-target="#exampleModal"> -->
                  UPDATE
                </button>
              </div>
              <!-- End Button Modal Update Achievement -->
            </div>
          <% end %>
          <!-- END LIST OF ACHIEVEMENTS -->
        </div>

        <!-- Modal New Achievement -->
        <div class="modal fade" id="exampleModalNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle"> Assign a new achievement </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <%= simple_form_for @achievement, url: adult_achievements_path, method: :post do |f| %>
                  <%= f.association :task, collection: @tasks, label_method: :name_of_method, value_method: :id %>
                  <div class="find-task d-flex mt-1">
                    <p><em>You didn't find a task? <%= link_to "Create a new task", new_adult_task_path %> </em></p>
                  </div>
                  <%= f.input :due_at, as: :date %>
                  <%#= f.input :points, label: false  %>
                  <p>Set a number of points for this task: </p>
                  <div class="qty mt-5">
                    <span class="minus bg-dark" id= "minus">-</span>
                    <input type="number" class="count" name=achievement[points] id='points' value=0>
                    <span class="plus bg-dark" id= "plus">+</span>
                  </div>
                <!-- <div id="input_div"> -->
                  <div class="d-flex justify-content-center mt-5 mb-3">
                    <%= f.submit "Create", class: "btn-tangerine" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal New Achievement -->

        <!-- Modal Update Achievement -->
        <div class="container">
          <div class="overlay" id="overlay-update-adult">
          </div>
          <div class="modal-update-achievement-with-id-adult" id="modal-update-adult">
            <button class="modal-close-btn" id="close-btn-update">
              x
            </button>
            <h3 id="achievement-update-title"></h3>
            <h2><%#= achievement.points %> points </h2>
            <%= simple_form_for @achievement, url: adult_achievement_path, method: :patch do |f| %>
              <%#= f.input :points, label: false  %>
              <div class="qty mt-5">
                <span class="minus bg-dark" id= "minus-upate-adult">-</span>
                <input type="number" class="count" name=achievement[points] id='points-update-adult' value=<%= @achievement.points %>>
                <span class="plus bg-dark" id= "plus-update-adult">+</span>
              </div>
              <%= f.input :achieve , as: :hidden, input_html: { value: true } %>
              <div class="d-flex justify-content-center mb-3">
                <%= f.submit "Valid", class: "btn-tangerine mt-3" %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- End Modal Update Achievement -->
      </div>
    </div>
    <!-- END ADULT TASKS TO DO -->
  </div>
  <!-- END ONGLETS SUGGESTIONS / TASKS -->
</div>
