<div class="container">
  <div class="form-create col-sm-8 offset-sm-2">

    <h1 class="my-5 d-flex justify-content-center text-center">Create an achievement</h1>

    <%= simple_form_for @achievement, url: kid_achievements_path, method: :post do |f| %>
      <%= f.association :task, collection: @tasks, label_method: :name_of_method, value_method: :id %>
      <%= f.input :points, :input_html => { :type => "number" } %>
      <%= f.input :due_at %>
      <div class="d-flex justify-content-center mt-5 mb-3">
        <%= f.submit "Create", class: "btn-tangerine" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-center mt-2">
      <%= link_to "Create a new task", new_kid_task_path, class: "btn-tangerine" %>
    </div>

  </div>
</div>
